<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}"/>
</head>

<body>
<div class="container">
    <div class="header">
        <img src={{ image }} width="100" height="100" alt="Avatar" style="float:right">
        <div class="full-name">
            <span class="first-name">{{ name }}</span>
        </div>
        <br>
        <div>
            <span>Age: {{age}}</span>
        </div>
        <div>
            <span>Address: {{address}}</span>
        </div>
        <div class="contact-info">
            <span class="email">Email: </span>
            <span class="email-val">{{email}}</span>
            <span class="separator"></span>
            <br>
            <span class="phone">Phone: </span>
            <span class="phone-val">{{phone}}</span>
        </div>
        <br>
        <div class="about">
            <span class="position">{{profession}}:</span>
            <span class="desc">{{desc}}</span>
        </div>
    </div>
    <div class="details">
        <div class="section">
            <div class="section__title">Experience:</div>
            <span>{{experience}}</span>
        </div>
        <br>
        <div class="section">
            <div class="section__title">Education:</div>
            <span>{{education}}</span>
            <br>
        </div>
        <br>

        <div class="section">
            <div class="section__title">Projects:</div>
            <span>{{projects}}</span>
        </div>
        <br>
        <div class="section">
            <div class="section__title">Skills:</div>
            <span>{{skills}}</span>
        </div>
        <br>
        <div class="section">
            <div class="section__title">
                Interests:
            </div>
            <div class="section__list">
                <div class="section__list-item">
                    <span>{{interests}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div>
    <form action="/download" method="get">
        <button>Download PDF</button>
    </form>
</div>
</body>
</html>